div.nav-link {
  display: flex;
  margin-left: 200px;
}

div a.nav-link {
  margin-left: 50px;
}

a.navbar-brand {
  margin-left: 50px;
}

.btn-outline-success {
  width: 100px;
}

button {
  width: 250px;
  height: 50px;
  background-color: black;
  color: white;
  margin-left: 20px;
  border-radius: 10px;
}

input {
  width: 250px;
  height: 50px;
  margin-right: 20px;
  border-radius: 10px;
  text-align: center;
}